* {
    -background-color: #F4F6F8;
    -card-background: #FFFFFF;
    -primary-text-color: #333333;
    -secondary-text-color: #777777;
    -accent-color: #3498DB;
    -accent-color-hover: #2980B9;
}

.body {
    -fx-font-family: "Poppins";
    -fx-background-color: -background-color;
    -fx-text-fill: -primary-text-color;
    -fx-line-spacing: 1.6em;
}

.header {
    -fx-background-color: -card-background;
    -fx-padding: 24 0 24 0; /* 1.5rem ≈ 24px */
    -fx-alignment: center;  /* alinha o conteúdo no centro */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 4, 0, 0, 2); /* sombra leve */
}

.header-title {
    -fx-font-weight: bold;
    -fx-font-family: "Poppins";
    -fx-font-size: 32px;
}

.card-container {
    -fx-alignment: center;
}
